/*Define el colol, el margen y la tipografia del body*/  
body {
margin: 0%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: cyan;
}
body ::-webkit-scrollbar {
    width: 7px;
    background-color: #333;
}
/*Fin de la definicion del body*/  

/*Agrega la barra de navegacion y sus respectivos colores*/
    #topnav {
    overflow: hidden;
    background-color: #333;
    }

    #topnav a {
    float: left;
    padding: 15px 17px;
    color: #eee;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    text-shadow: black 6pxa;
    }

    #topnav a:hover{
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    transition: .3s ease all;
    }
    #topnav a.active{
    background-color: orange;
    color: #eee;
    }

    #Copyright{
    color: #eee;
    text-align: right;
    overflow: hidden;
    margin: 0px;
    margin-top: 15px;
    }
/*Fin de la barra de navegacion*/

/*Define el titulo y sus variantes, tambien se define el quienes somos del abaout.html*/
        #title {
        font-size: 30pt;
        text-align: center;
        transition: .3s ease all;
        display:inline-block;
        align-items: center;
        justify-content: center;
        margin-left: 500px;
        }

        #title:hover{
        color: orange;
        transform: scale(1.2);
        }

        #subtitle {
        font-size: 25pt;
        text-align: center;
        }
        #quienes {
        font-size: small;
        padding-left: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        }
        #messi {
            transition: .3s ease all;
        }
        
        #messi:hover {
            transform: scale(1.1);
        }
/*Fin de la definicion del titulo y quienes somos*/


/*Define las zapatillas y sus respectivos textos de cada una incluyendo los precios*/
            #productos1 {
            width: 50px;
            box-sizing: border-box;
            display: inline-block;
            margin:auto;
            }

            #productos2{
            width: 50px;
            box-sizing: border-box;
            display: inline-block;
            margin:auto;
            }

            #productos3 {
            width: 75px;
            box-sizing: border-box;
            display: inline-block;
            margin:auto;
            }       

            #producto{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #333;
            color: #eee;
            border-radius: 10px;
            padding: 5px;
            width: 300;
            height: 50;
            text-align: center;
            box-shadow: 15px black;
            }
            #producto1 {
            display: inline-block;
            padding: 5px;
            width: 400px;
            height: 400px;
            margin-left: 50px;
            }
            #producto2 {
            display: inline-block;
            padding: 5px;
            width: 400px;
            height: 400px;
            }
            #producto3 {
            display: inline-block;
            padding: 5px;
            width: 400px;
            height: 400px;
            }

            #precio {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #333;
            color: #eee;
            border-radius: 10px;
            padding: 5px;
            width: 300;
            height: 50;
            margin: 0px;
            text-align: center;
            }
/*Fin de la definicion de las zapatillas*/
#pag {
    text-align: center;
}
/*Define los botones y cuando se selecciona */
            #contenedor-botones {
            background-color: #333;
            color: #eee;
            padding: 7px;
            width: 300;
            height: 50;
            margin: 10px;
            margin-left: 100px;
            text-align: center;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            display: inline-block;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            }
            #contenedor-botones:hover {
            transform: scale(1.1);
            background-color: orange;
            }
/*Fin de la definicon de los botones */


/*Define el texto de tu cuenta y la opcion de el mail y la password*/
                #acs{
                text-align: center;
                }

                #mail {
                margin: 0px;
                padding: 0px;
                text-align: center;
                }   

                #mail1 {
                margin: 0px;
                margin-top: 5px;
                padding: 0px;
                text-align: center;
                }

                #email {
                margin-left: 600px;
                align-items: center;
                justify-content: center;
                    }

                #pass{
                margin-left: 600px;
                align-items: center;
                justify-content: center;
                }
/*FIN DE LA DEFINICON*/
.nashe {
    background-color: #333;
    margin: 0%;
}
.nashent{
    text-align: center;
    color: #eee;
    opacity: 1;
    padding: 3px;
    margin: 0%;
}
/*COSAS AGREGADAS POST DEFINICION*/
